{% extends "base.html" %}

{% block title %}
سبت نام
{% endblock %}

{% block content %}

<form action="{% url "register" %}" method="POST">
{% csrf_token %}
<h3>سبت نام</h3>
<hr>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<br>
<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
placeholder="Enter First name" name="first_name" required>
<br>
<input type="text" name="last_name" class="form-control" id="exampleInputEmail1"
aria-describedby="emailHelp" placeholder="Enter Last name" required>
<br>
<input type="text" class="form-control" name="username" id="exampleInputEmail1"
aria-describedby="emailHelp" placeholder="Enter email" required>
<br>
<input type="password" class="form-control" name="password" id="exampleInputPassword1"
placeholder="Password" required>

<p>Already have an account <a href="/login/">Login</a> </p>
<button type="submit">سبت-نام</button>
</form>
{% endblock %}